.container{border :solid 1px white ;
    border-radius: 5px !important;
     
    width:100% !important
}
.text-white1{font-size:40px !important ; 
font-family: fantasy;
}.text-white2{font-size:25px !important ; 
    font-family: fantasy;
}
.f-family{
    font-family: fantasy;
}
.text{
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.complete{
    border-radius: 5px;
    font-family: fantasy;
    margin : 10px 4px ;
    border: solid 1px white ;
    

}
.delete{
    border-radius: 5px;
    font-family: fantasy;
    margin : 10px 4px ;
    border: solid 1px white ;
    
}
.phrasestyle{
    font-family: fantasy;
    margin : 10px 4px ;
    font-size: 25px;
    


}
.phrasestyle1{
    font-family: fantasy;
    margin : 10px 4px ;
    font-size: 25px;
    text-decoration-line: line-through;


}